@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
	font-family: 'Josefin Sans', sans-serif;
	width: 80%;
	min-width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

h1 {
	color: #2cdd6a;
	font-weight: bold;
}

h2 {
	color: #999999;
	font-style: italic;
}

p {
	font-size: 18px;
}

a {
	font-weight: bold;
}

a:link {
	color: #2cdd6a;
}
	
hr {
	border: solid 2px #2cdd6a;
}

#everything-but-title {
	display: flex;
}

#everything-but-title > * {
	width: 50%;
}

#info {
	margin-right: 20px;
}

#rating {
	margin-right: 20px;
}

#rating h2 {
	margin-top: 0px;
}

#stats {
	background-color: #eeeeee;
	border: solid 1px #777777;
	border-radius: 15px;
	padding: 10px;
}

#stats p {
	clear: both;
}

.stat {
}

.value {
	font-weight: bold;
	float: right;
}

.rating_num {
	font-style: normal;
	font-weight: bold;
	color: #2cdd6a;
}

.rating_stars {
	color: #2cdd6a;
}

#images {
	display: flex;
}

#images img {
	width: 150px;
	border: solid 1px #777777;
	padding: 5px;
}

table {
	width: 100%;
}

th {
	text-align: left;
}

tr {
	padding: 100px 0px;
}

iframe {
	width: 100%;
}

@media (max-width: 1000px) {
	body {
		width: 90%;
	}
}

@media (max-width: 800px) {
	#everything-but-title {
		flex-wrap: wrap;
	}

	#everything-but-title > * {
		width: 100%;
	}
}