@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
	background: #d3eddd;
	font-family: 'Josefin Sans', sans-serif;
}

.box {
	background-color: #ffffff;
	padding: 10px;
	margin: 10px;
	border-radius: 20px;
}

.stat {
	font-style: italic;
}

.value {
	font-weight: bold;
}