@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
	font-family: 'Josefin Sans', sans-serif;
	width: 80%;
	min-width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

h1 {
	color: #2cdd6a;
	font-weight: bold;
	margin-top: 0px;
}

h2 {
	color: #999999;
	font-style: italic;
}

p {
	font-size: 18px;
}

a {
	font-weight: bold;
	text-decoration: none;
}

a:link {
	color: #2cdd6a;
}
	
hr {
	border: solid 2px #2cdd6a;
}

#title {
	position: relative;
}

#navbutton a {
	position: absolute;
	right: 0px;
	top: 0px;
}

#navbutton a, input[type=submit] {
	color: #ffffff;
	background-color: #2cdd6a;
	padding: 10px;
	border-radius: 5px;
	border: none;
	font-family: inherit;
	font-size: inherit;
}

#navbutton a:hover, input[type=submit]:hover {
	-webkit-box-shadow: 2px 2px 0px #999999;
	-moz-box-shadow: 2px 2px 0px 0px #999999;
	box-shadow: 2px 2px 0px 0px #999999;
}

#everything-but-title {
	display: flex;
}

#everything-but-title > * {
	width: 50%;
}

#info {
	margin-right: 20px;
}

#rating {
	margin-right: 20px;
}

#rating h2 {
	margin-top: 0px;
}

#stats {
	background-color: #eeeeee;
	border: solid 1px #999999;
	border-radius: 15px;
	padding: 10px;
}

#stats p {
	clear: both;
}

#noimages {
	font-style: italic;
	color: #999999;
}

.value {
	font-weight: bold;
	float: right;
}

.rating_num {
	font-style: normal;
	font-weight: bold;
	color: #2cdd6a;
}

.rating_stars {
	color: #2cdd6a;
}

#images {
	display: flex;
}

#images img {
	height: 100px;
	border: solid 1px #999999;
	padding: 5px;
	margin-left: 2px;
	margin-right: 2px;
}

table {
	width: 100%;
}

th {
	text-align: left;
}

td, th {
	padding: 10px;
}

tr:nth-child(even) {
	background-color: #eeeeee;
}

td:nth-child(4), td:nth-child(5) {
	color: #2cdd6a;
	font-weight: bold;
}

iframe {
	width: 100%;
}

@media (max-width: 1000px) {
	body {
		width: 90%;
	}
}

@media (max-width: 800px) {
	#everything-but-title {
		flex-wrap: wrap;
	}

	#everything-but-title > * {
		width: 100%;
	}
}