{% if bathroom %}
	<h1>{{ bathroom.name }}</h1>
	<p>Urinals: {{bathroom.urinals}}</p>
	<p>Stalls: {{bathroom.stalls}}</p>
	<p>Handicap stalls: {{bathroom.handicap_stalls}}</p>
	<p>Sinks: {{bathroom.sinks}}</p>
	<p>Paper towel dispensers: {{bathroom.paper_towels}}</p>
	<p>Hand dryers: {{bathroom.hand_dryers}}</p>
	<p>Windows: {{bathroom.windows}}</p>
	<p>Cleanliness: {{cleanliness_rating}}</p>
	<p>Amenities: {{amenities_rating}}</p>
{% endif %}

{% for image in images %}
	<p><img src="{{ image.image.url }}" alt="Bathroom in {{ bathroom.name }}"></p>
{% endfor %}

<h2>Add a rating</h2>

<form action="{% url 'bathrooms:vote' bathroom.id %}" method="post">

{% csrf_token %}
<p>Cleanliness</p>
<input type="radio" name="cleanliness" value="1" />
<label for="1">1</label><br />

<input type="radio" name="cleanliness" value="2" />
<label for="2">2</label><br />

<input type="radio" name="cleanliness" value="3" />
<label for="3">3</label><br />

<input type="radio" name="cleanliness" value="4" />
<label for="4">4</label><br />

<input type="radio" name="cleanliness" value="5" />
<label for="5">5</label><br />

<p>Design</p>
<input type="radio" name="amenities" value="1" />
<label for="1">1</label><br />

<input type="radio" name="amenities" value="2" />
<label for="2">2</label><br />

<input type="radio" name="amenities" value="3" />
<label for="3">3</label><br />

<input type="radio" name="amenities" value="4" />
<label for="4">4</label><br />

<input type="radio" name="amenities" value="5" />
<label for="5">5</label><br />

<input type="submit" value="Submit" />
</form>