<!doctype html>
<html>
	<head>
		<title>Airpnp</title>
		<meta charset="utf/8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />
	</head>
	<body>
		<header>
			<h1>Airpnp is the premiere bathroom catalog.</h1>

			<p>Airpnp is a leading global professional services company providing a range of enterprise, strategy, consulting, digital, technology & urination services and solutions.</p>
			
			<p id="button"><a href="{% url 'bathrooms:list' %}">See bathrooms</a></p>
		</header>
		
		<div id="but-actually">
			<h2>Peeing perfected</h2>
			<p>Airpnp was founded by a group of passionate code artisans devoted to bringing you the perfect on-campus bathroom experience.</p>
			
			<h2>Oh you thought we forgot to mention this was made with love</h2>
			<p>Lovingly built on top of jQuery, Angular.js, mongoDB, Express.js, Hadoop.js, Grunt.js, Gradle.js, Bootstrap, Firebase, Java.js Server.js Pages.js, Assembly, Calculator, Mavis Beacon Teaches Typing, and Love.js.</p>
		
			<h2>No, but seriously?</h2>
			<p>I made this at a hackathon to teach myself Django.</p>
			<p>The rest of my stuff is similarly bathroom-quality and is available <a href="http://theycallmezeal.me">on my website</a>.</p>
		</div>
	</body>
</html>