{% extends "bathrooms/template.html" %}
{% load static %}

{% block content %}
{% if bathroom %}
	<div id="title">
		<h1>{{ bathroom.name }}</h1>
		<p id="navbutton"><a href="{% url 'bathrooms:list' %}">Back</a></p>
		<h2>{{ gender }}</h2>
	</div>
	
	<div id="everything-but-title">
		<div id="info">
			<div id="stats">
				<p><span class="stat">Urinals</span> <span class="value">{{bathroom.urinals}}</span></p>
				<p><span class="stat">Stalls:</span> <span class="value">{{bathroom.stalls}}</span></p>
				<p><span class="stat">Handicap stalls:</span> <span class="value">{{bathroom.handicap_stalls}}</span></p>
				<p><span class="stat">Sinks:</span> <span class="value">{{bathroom.sinks}}</span></p>
				<p><span class="stat">Paper towel dispensers:</span> <span class="value">{{bathroom.paper_towels}}</span></p>
				<p><span class="stat">Hand dryers:</span> <span class="value">{{bathroom.hand_dryers}}</span></p>
				<p><span class="stat">Windows:</span> <span class="value">{{bathroom.windows}}</span></p>
			</div>
			
			<hr>
			
			<p>Location: <a href="{{ bathroom.location.google_maps_link }}">{{ bathroom.location.human_readable_location }}</a></p>
			<p>{{ bathroom.location_desc }}</p>
			{{ bathroom.location.google_maps_embed|safe|escape }}
			
		</div>
		
		<div id="rating">
			<h2>Rating</h2>
			<p class="score">Cleanliness: <span class="rating_num">{{ cleanliness_rating|floatformat }}</span> <span class="rating_stars">{{ cleanliness_stars|safe|escape }}</span></p>
			<p class="score">Amenities: <span class="rating_num">{{ amenities_rating|floatformat }}</span> <span class="rating_stars">{{ amenities_stars|safe|escape }}</span></p>
			
			<div id="images">
			{% if images|length == 0 %}
				<p id="noimages">no images yet</p>
			{% else %}
				{% for image in images %}
					<p><img src="{% static image.image.url %}" alt="Bathroom in {{ bathroom.name }}"></p>
				{% endfor %}
			{% endif %}
			</div>
			
			<hr>
			
			<h2>Add a rating</h2>
			
			<form action="{% url 'bathrooms:vote' bathroom.id %}" method="post" onsubmit="return validateForm();">
				{% csrf_token %}
				<p>Cleanliness</p>
				<input type="radio" name="cleanliness" value="1" />
				<label for="1">1</label>

				<input type="radio" name="cleanliness" value="2" />
				<label for="2">2</label>

				<input type="radio" name="cleanliness" value="3" />
				<label for="3">3</label>

				<input type="radio" name="cleanliness" value="4" />
				<label for="4">4</label>

				<input type="radio" name="cleanliness" value="5" />
				<label for="5">5</label>

				<p>Amenities</p>
				<input type="radio" name="amenities" value="1" />
				<label for="1">1</label>

				<input type="radio" name="amenities" value="2" />
				<label for="2">2</label>

				<input type="radio" name="amenities" value="3" />
				<label for="3">3</label>

				<input type="radio" name="amenities" value="4" />
				<label for="4">4</label>

				<input type="radio" name="amenities" value="5" />
				<label for="5">5</label>

				<p><input id="submit" type="submit" value="Submit" /></p>
			</form>
			
			<p id="error"></p>
		</div>
	</div>
{% endif %}
{% endblock %}