{% extends "bathrooms/template.html" %}

{% block content %}

<div id="title">
	<h1>Airpnp - {{ heading }}</h1>
	<p id="navbutton"><a href="{% url 'index' %}">About Airpnp</a></p>
</div>

{% if bathroom_list and length > 0 %}
	<table>
		<tr>
			<th>Bathroom</th>
			<th>Gender</th>
			<th>Location</th>
			<th>Cleanliness</th>
			<th>Amenities</th>
		</tr>
	{% for bathroom, rating in bathroom_list %}
		<tr>
			<td><a href="{% url 'bathrooms:detail' bathroom.id %}">{{ bathroom.name }}</a></td>
			<td>
				{% if bathroom.gender == 0 %} Men's {% endif %}
				{% if bathroom.gender == 1 %} Women's {% endif %}
				{% if bathroom.gender == 2 %} Gender-neutral {% endif %}
			</td>
			<td>{{ bathroom.location.human_readable_location }}</td>
			<td>{{ rating.cleanliness|safe|escape }}</td>
			<td>{{ rating.amenities|safe|escape }}</td>
		</tr>
	{% endfor %}
	</table>

{% else %}

<p>No bathrooms here :(</p>
<p>Unfortunately you'll have to take your business elsewhere.</p>	
	
{% endif %}

<p>Filter by: <a href="{% url 'bathrooms:list' %}">All</a> <a href="{% url 'bathrooms:list' %}?filtertype=singles">Singles</a> <a href="{% url 'bathrooms:list' %}?filtertype=mens">Men's</a> <a href="{% url 'bathrooms:list' %}?filtertype=womens">Women's</a> <a href="{% url 'bathrooms:list' %}?filtertype=genderneutral">Gender-neutral</a>
{% endblock %}