{% extends "bathrooms/template.html" %}

{% block content %}

<div id="title">
	<h1>Airpnp - all bathrooms</h1>
	<p id="navbutton"><a href="{% url 'index' %}">About Airpnp</a></p>
</div>

{% if bathroom_list %}
	<table>
		<tr>
			<th>Bathroom</th>
			<th>Location</th>
			<th>Cleanliness</th>
			<th>Amenities</th>
		</tr>
	{% for bathroom, rating in bathroom_list %}
		<tr>
			<td><a href="{% url 'bathrooms:detail' bathroom.id %}">{{ bathroom.name }}</a></td>
			<td>{{ bathroom.location.human_readable_location }}</td>
			<td>{{ rating.cleanliness|safe|escape }}</td>
			<td>{{ rating.amenities|safe|escape }}</td>
		</tr>
	{% endfor %}
	</table>
{% endif %}
{% endblock %}